<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingcai.apps.aizhuan">

    <!-- 添加WiFi以及访问网络的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- 操作外部存储设备文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    用于访问wifi网络信息，wifi信息会用于进行网络定位
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    -->
    <!--
    获取运营商信息，用于支持提供运营商信息相关的接口
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    -->
    <!--
    这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    -->
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
    写入扩展存储，向扩展卡写入数据，用于写入离线定位数据
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    <!--
    访问网络，网络定位需要上网
    <uses-permission android:name="android.permission.INTERNET" />
    -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- JPush -->
    <permission
        android:name="com.jingcai.apps.aizhuan.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jingcai.apps.aizhuan.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- since 1.6.0 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".util.ApplicationEx"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- sys -->
        <activity
            android:name=".activity.sys.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.index.IndexPartjobListByLabelActivity"></activity>
        <activity android:name=".activity.sys.IntroActivity"/>
        <activity android:name=".activity.sys.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.sys.RegistActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.sys.ErrorActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.index.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.index.IndexBannerDetailActivity" android:screenOrientation="portrait"/>


        <!-- help -->
        <activity android:name=".activity.help.HelpJishiDeployActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpJishiDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaDeployActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaAnswerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaCommentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaEditActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaRewardActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpEvaluateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="aizhuan.activity.help.HelpEvaluateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.mine.help.HelpProvideListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />

   

        <!-- Message -->
        <activity android:name=".activity.message.MessageCommentActivity" />
        <activity android:name=".activity.message.MessageCommendActivity" />
        <activity android:name=".activity.message.MessageMerchantActivity" />
        <activity android:name=".activity.message.MessageNotificationActivity" />
        <activity android:name=".activity.message.NotificationDetailActivity" />
        <activity android:name=".activity.message.MessageConversationActivity" />


        <!-- partjob -->
        <activity android:name=".activity.mine.PartjobCancelActivity"/>
        <activity android:name=".activity.partjob.PartjobJoinSuccessActivity"/>
        <activity android:name=".activity.partjob.LocationCityActivity"/>
        <activity android:name=".activity.partjob.PartjobDetailActivity"/>
        <activity android:name=".activity.partjob.PartjobDetailMapActivity"/>
        <activity android:name=".activity.partjob.PartjobSearchActivity"/>

        <!-- common -->
        <activity android:name=".activity.common.ShowBigImage"/>


        <!-- service -->
        <service android:name=".service.local.UnreadMsgService" />


        <!-- mine -->
        <activity android:name=".activity.mine.MineAccountActivity"/>
        <activity android:name=".activity.mine.MineStudentCertificationActivity"/>
        <activity android:name=".activity.mine.SettingsActivity"/>
        <activity android:name=".activity.mine.MineGoldTopupActivity"/>
        <activity android:name=".activity.mine.MineSuggestionActivity"/>
        <activity android:name=".activity.mine.MineGoldWithdrawActivity"/>
        <activity android:name=".activity.mine.MineResetPasswordActivity"/>
        <activity android:name=".activity.mine.MineResetpaypswActivity"/>
        <activity android:name=".activity.mine.MyPartjobListActivity"/>
        <activity android:name=".activity.mine.MyPartjobDetailActivity"/>
        <activity android:name=".activity.mine.MineHelpActivity"/>
        <activity android:name=".activity.mine.MineCreditActivity"/>
        <activity android:name=".activity.mine.MinePersonalDataActivity"/>
        <activity android:name=".activity.mine.MineGoldExpenseActivity"/>
        <activity android:name=".activity.mine.MineGoldIncomeActivity"/>
        <activity android:name=".activity.mine.MineContactServiceActivity"/>
        <activity android:name=".activity.mine.InproveProfileSimpleItemActivity"/>
        <activity android:name=".activity.mine.WeixinNumberActivity"/>

        <!-- meta-data -->
        <meta-data android:name="SECRET_KEY" android:value="123" />
        <meta-data android:name="EASEMOB_APPKEY" android:value="lee513579#izhuanc2ctest" />
    </application>

</manifest>
