<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jingcai.apps.aizhuan">

    <!-- 添加WiFi以及访问网络的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 操作外部存储设备文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 发送短信 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
    用于访问wifi网络信息，wifi信息会用于进行网络定位
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    -->
    <!--
    获取运营商信息，用于支持提供运营商信息相关的接口
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    -->
    <!--
    这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    -->
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
    写入扩展存储，向扩展卡写入数据，用于写入离线定位数据
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    <!--
    访问网络，网络定位需要上网
    <uses-permission android:name="android.permission.INTERNET" />
    -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- JPush -->
    <permission android:name="com.jingcai.apps.aizhuan.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />

    <uses-permission android:name="com.jingcai.apps.aizhuan.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- since 1.6.0 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- <uses-permission android:name="android.permission.VIBRATE" />  震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 自动聚焦权限 -->
    <application
        android:name=".util.ApplicationEx"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- sys -->
        <activity android:name=".activity.sys.WelcomeActivity" android:label="@string/app_name" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.index.IndexPartjobListByLabelActivity" />
        <activity android:name=".activity.sys.IntroActivity" />
        <activity android:name=".activity.sys.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.sys.RegistActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.sys.ErrorActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.index.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.index.IndexBannerDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.sys.AboutUsActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.sys.ModifyPswActivity" android:screenOrientation="portrait" />

        <!-- help -->
        <activity android:name=".activity.help.HelpJishiDeployActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpFriendOnlineActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpJishiDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaDeployActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaAnswerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaCommentActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaEditActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpWendaRewardActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.help.HelpEvaluateActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="aizhuan.activity.help.HelpEvaluateActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.mine.help.MineHelpListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.mine.help.MineHelpJishiActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />

        <!-- 隐藏键盘 -->
        <activity android:name=".activity.help.CaptureActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden" android:configChanges="orientation|keyboardHidden"/>


        <!-- Message -->
        <activity android:name=".activity.message.MessageCommentActivity" />
        <activity android:name=".activity.message.MessageMerchantActivity" />
        <activity android:name=".activity.message.MessageNotificationActivity" />
        <activity android:name=".activity.message.NotificationDetailActivity" />
        <activity android:name=".activity.message.MessageConversationActivity" />
        <activity android:name=".activity.message.CommentReplyActivity" />

        <!-- partjob -->
        <activity android:name=".activity.mine.PartjobCancelActivity" />
        <activity android:name=".activity.partjob.PartjobJoinSuccessActivity" />
        <activity android:name=".activity.partjob.LocationCityActivity" />
        <activity android:name=".activity.partjob.PartjobDetailActivity" />
        <activity android:name=".activity.partjob.PartjobDetailMapActivity" />
        <activity android:name=".activity.partjob.PartjobSearchActivity" />

        <!-- common -->
        <activity android:name=".activity.common.ShowBigImage" />

        <!-- service -->
        <service android:name=".service.local.UnreadMsgService" />

        <!-- mine -->
        <activity android:name=".activity.mine.gold.MineAccountActivity"/>
        <activity android:name=".activity.mine.MineStudentCertificationActivity"/>
        <activity android:name=".activity.sys.SettingsActivity"/>
        <activity android:name=".activity.mine.MineSuggestionActivity"/>
        <activity android:name=".activity.mine.MyPartjobListActivity"/>
        <activity android:name=".activity.mine.MyPartjobDetailActivity"/>
        <activity android:name=".activity.mine.MineCreditActivity"/>
        <activity android:name=".activity.mine.MinePersonalDataActivity"/>
        <activity android:name=".activity.mine.MineContactServiceActivity"/>
        <activity android:name=".activity.mine.ImproveProfileSimpleItemActivity" android:windowSoftInputMode="stateVisible"/>
        <activity android:name=".activity.mine.WeixinNumberActivity"/>
        <activity android:name=".activity.mine.ComplainActivity"/>
        <activity android:name=".activity.mine.SafeCheckActivity" />
        <activity android:name=".activity.mine.ProfileImproveActivity" />
        <activity android:name=".activity.mine.ProfileImprove2Activity" />

        <!-- mine ==> gold -->
        <activity android:name=".activity.mine.gold.MineGoldTopupActivity"/>
        <activity android:name=".activity.mine.gold.MineGoldWithdrawActivity"/>
        <activity android:name=".activity.mine.gold.MineModifyPayPasswordActivity"/>
        <activity android:name=".activity.mine.gold.MineResetPayPasswordActivity"/>
        <activity android:name=".activity.mine.gold.MineGoldExpenseActivity"/>
        <activity android:name=".activity.mine.gold.MineGoldIncomeActivity"/>
        <activity android:name=".activity.mine.gold.AccountFinancialActivity"/>
        <activity android:name=".activity.mine.gold.AccountTypeActivity"/>
        <activity android:name=".activity.mine.gold.BindAlipayActivity"/>
        <activity android:name=".activity.mine.gold.IdentityAuthenticationActivity"/>
        <activity android:name=".activity.mine.gold.BankSelectActivity"/>
        
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver android:name=".jpush.AzJpushReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.jingcai.apps.aizhuan" />
            </intent-filter>
        </receiver>
        <!-- Required -->
        <service android:name="cn.jpush.android.service.PushService" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.jingcai.apps.aizhuan" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jingcai.apps.aizhuan" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service android:name="cn.jpush.android.service.DownloadService" android:enabled="true" android:exported="false" />
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- meta-data -->
        <meta-data android:name="SECRET_KEY" android:value="123" />
        <meta-data android:name="EASEMOB_APPKEY" android:value="lee513579#izhuanc2ctest" />

        <!-- jpush dev   203cf5c6a5b762b4d5ff6349 -->
        <!-- jpush pro   a18858d0c3a777745fbc99f7 -->
        <meta-data android:name="JPUSH_APPKEY" android:value="203cf5c6a5b762b4d5ff6349" />
        <meta-data android:name="JPUSH_CHANNEL" android:value="A000" />
        
    </application>

</manifest>
